name: Bump Version

on:
  workflow_dispatch:
    inputs:
      bump:
        description: 'bump type: major, minor or patch'
        default: ''

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # needed to use yarn v4
      - name: Enable corepack
        run: corepack enable

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.10.0"
          registry-url: https://registry.npmjs.org/
      
      - name: Bump version
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          yarn version ${{ github.event.inputs.bump }}
          git add --all

      - name: Commit & Push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: "chore: bump version"
